<div class="container-fluid container-fluid-custom pb-5 mb-5">

<div class="row mb-4">
    <div class="col">
        <h1>Hey, <%= userName %></h1>
    </div>
    <div class="col text-end">
     <a href="/dashboard/add" class="btn btn-primary">
     + New Note
     </a>
    </div>
</div>

<div class="row">
    <% if (notes.length > 0) { for(let note of notes) { %>
        <div class="col-sm-3 mb-4">
          <div class="card border-primary" style="min-height: 210px">
            <a href="/dashboard/item/<%= note._id %>" class="card-body text-decoration-none">
              <h5 class="card-title"><%= note.title %></h5>
              <p class="card-text"><%= note.body %></p>
            </a>
          </div>
        </div>
        <% } %>
        <!-- If have notes in the database then display Pagination -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center mt-5">
              <% if (current == 1) { %>
              <%# at page1 disable the previous btn %>
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
              <% } else { %>
               <%# access previous page by (current page -1) %>
                <li class="page-item"><a class="page-link" href="/dashboard?page=<%= current - 1 %>">Previous</a></li>
              <% } %>
              <%# For each page number, it checks if it is the current page. If it's the current page, it displays the page number as plain text with an "active" appearance (typically highlighting it). If it's not the current page, it generates a clickable link to navigate to that page with the appropriate page number as a query parameter in the URL.  %>
              <% for (let i = 1; i <= pages; i++) { %>
                <% if (i == current) { %>
                  <li class="page-item active"><span class="page-link"><%= i %></span></li>
                <% } else { %>
                  <li class="page-item"><a class="page-link" href="/dashboard?page=<%= i %>"><%= i %></a></li>
                <% } %>
              <% } %>
        
              <% if (current == pages) { %>
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
              <% } else { %>
                <li class="page-item"><a class="page-link" href="/dashboard?page=<%= current + 1 %>">Next</a></li>
              <% } %>
            </ul>
          </nav>
          <!-- No data in the database, don't display pagination and display the above message -->
      <%  } else { %>
        <div class="row">
          <div class="col mt-md-4">
            <h2>Okay...</h2>
            <h4>Let's start with your first note!<br/><br/>
              <a href="/dashboard/add">Create one!</a>
            </h4>
          </div>
        </div>
      <% } %>
</div>



